@model IEnumerable<Muse.Models.User>

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Sign In</title>

        <link rel="apple-touch-icon" sizes="180x180" href="~/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="~/favicon_io/site.webmanifest">

        <link rel="stylesheet" href="~/css/Site.css" type="text/css" />
        <link rel="stylesheet" href="~/css/Signin.css" type="text/css" />
    </head>
    <body>
        <header>
            <a class="link" asp-area="" asp-controller="Users" asp-action="Frontpage">
                <h1 id="frontpagelink">MUSE</h1>
            </a>
        </header>
        <section>
            <p class="error"><strong> @TempData["Error"] </strong></p>
            <h2>Sign In</h2>

            <div>
                <form asp-controller="Users" asp-action="Signin">
                    <p class="control-label">
                        Email:
                    </p>
                    <p>
                        <input type="text" name="SearchEmail" required>
                    </p>
                    <p class="control-label">
                        Password:
                    </p>
                    <p>
                        <input type="password" name="SearchPassword" required>
                    </p>
                    <p>
                        <input type="submit" value="Sign In" id="signin"/>
                    </p>
                </form>
            </div>
            <div>
                No Account?<a class="link" id="signup" asp-action="Create">Sign Up!</a>
            </div>

            @*@  <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Zip)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Zip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table> *@
        </section>
    </body>
</html>
