@model Muse.Models.Musing

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/MusingsDetail.css" type="text/css" />
}

<h2>Musing Details</h2>

<div class="musing">
    <section>
        <p id="header">
            <a class="namefor">
                @Html.DisplayNameFor(model => model.Title):  <i>@Html.DisplayFor(model => model.Title)</i>
            </a>
            <a class="displayfor" id="date">
                @Html.DisplayFor(model => model.Date)
            </a>
        </p>
        <p class="namefor" id="suds">
            @Html.DisplayNameFor(model => model.SUDS): @Html.DisplayFor(model => model.SUDS)
        </p>
        <p class="displayfor">
            @Html.DisplayFor(model => model.Entry)
        </p>
    </section>
</div>
<div class="links">
    <a class="option link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="option link" asp-action="Index">Back to List</a> |
    <a class="option link" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
