@model Muse.Models.Musing

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/MusingsDetails.css" type="text/css" />
}

<h2>Musing Details</h2>

<div class="musing">
    <section>
        <p class="namefor">
            @Html.DisplayNameFor(model => model.Title):  @Html.DisplayFor(model => model.Title)
        </p>
        <p class="namefor" id="date">
            @Html.DisplayNameFor(model => model.Date):
        </p>
        <p class="displayfor">
            @Html.DisplayFor(model => model.Date)
        </p>
        <p class="namefor">
            @Html.DisplayNameFor(model => model.SUDS):
        </p>
        <p class="displayfor">
            @Html.DisplayFor(model => model.SUDS)
        </p>
        <p class="namefor">
            @Html.DisplayNameFor(model => model.Entry):
        </p>
        <p class="displayfor">
            @Html.DisplayFor(model => model.Entry)
        </p>
    </section>
</div>
<div class="links">
    <a class="option link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="option link" asp-action="Index">Back to List</a>
</div>
