@model IEnumerable<Muse.Models.Musing>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Timeline.css" type="text/css" />
}

<h2>- My Timeline -</h2>
<div class="option">
    <a class="link" asp-action="Create">Muse Now</a>
</div>
<div class="option">
    <a class="link" asp-action="Home" asp-controller="Users">Return Home</a>
</div>

<div class="container">
    <div>
        <ul class="timeline">
            @foreach (var item in Model)
            {
               <li>
                    <div class="timeline-badge">
                        <img src="~/favicon_io/favicon.ico" alt="Click for More Information">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                            <p><small>@Html.DisplayFor(modelItem => item.Date)</small></p>
                            <p>@Html.DisplayNameFor(model => model.SUDS): @Html.DisplayFor(modelItem => item.SUDS)</p>
                        </div>
                        <div class="timeline-body">
                            <p>@Html.DisplayFor(modelItem => item.Entry)</p>
                        </div>
                        <div class="details">
                            <a class="link" asp-action="Details" asp-route-id="@item.Id">- View Details -</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="~/js/timeline.js"></script>
}