@model IEnumerable<Muse.Models.Musing>

@{
    ViewData["Title"] = "Index";
}

<h2>My Musing Timeline</h2>

<section class="table">
    <div>
        @foreach (var item in Model)
        {
        <p class="namefor">
            @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(modelItem => item.Title)
        </p>
            <p class="namefor">
                @Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(modelItem => item.Date)
            </p>
            <p class="namefor">
                @Html.DisplayNameFor(model => model.SUDS): @Html.DisplayFor(modelItem => item.SUDS)
            </p>
            <p>
                <a class="link" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="link" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </p>
        }
    </div>
</section>
