@model IEnumerable<Muse.Models.Musing>

@{
    ViewData["Title"] = "Meaning";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Metrics.css" type="text/css" />
}

<section>
    <h2>Your Changes Over Time</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Entry</th>
                <th>SUDS</th>
                <th>Sentiment Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a class="link" asp-action="Details" asp-route-id="@item.Id">@item.Date</a></td>
                    <td><a class="link" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                    <td>@item.SUDS</td>
                    <td style="border: 5px solid @item.getSentimentColor">@item.Sentiment</td>
                </tr>
            }
        </tbody>
    </table>
</section>


<section id="metrics">
    <h3>VADER Sentiment Analysis: About Sentiment Scoring</h3>
    <h5>Abridged/Reworded VADER Documentation Description</h5>
    <p id="start">
        The compound score is computed by summing the valence scores of each word in the lexicon,
        adjusted according to the rules, and then normalized to be between -1 (most extreme negative)
        and +1 (most extreme positive).
    </p>

    <p>Entries are classified as either positive, neutral, or negative.</p>

    <p>- positive sentiment: score >= 0.05</p>
    <p>- neutral sentiment: ( score > -0.05) and (score < 0.05)</p>
    <p>- negative sentiment: score <= -0.05</p>
</section>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="~/js/meaning.js"></script>
}